<!DOCTYPE html>
<html lang="en"  style="color: var(--indigo);background: #ffffff;font-family: 'Alfa Slab One', cursive;">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

   <link rel="stylesheet" href="public/css/bootstrap.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.0/jszip.js"></script>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Give+You+Glory">

    <link rel="stylesheet" href="public/fonts/ionicons.min.css">
    <link rel="stylesheet" href="public/css/ambiance.css">
    <link rel="stylesheet" href="public/css/codemirror.css">
    <link rel="stylesheet" href="public/css/Footer-Dark.css">
    <link rel="stylesheet" href="public/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="public/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="public/css/Paralax-Hero-Banner.css">
    <link rel="stylesheet" href="public/css/Paralax-Hero-Banner-1.css">
    <link rel="stylesheet" href="public/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="public/css/styles.css">
    <link rel="stylesheet" href="public/css/untitled.css">
    
  
    <title>AVM</title>
  </head>
  <body>

 
    <%- body %>

 
  </body>
</html>
